.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid 1px rgb(107, 17, 17);
  margin-top: 100px;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: rgb(129, 0, 250);
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color:  rgb(70, 207, 77);
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgb(124, 8, 8);
}
